/*===============================================
Default css
===============================================*/
body{
	margin:0;
	padding:0;
	font-family: 'Comfortaa', cursive;
	background: #FFF;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}
ul{
	margin: 0;
	padding:0;
	list-style: none;
}
a{
	margin:0;
	text-decoration: none;
}
a:hover{
	text-decoration:none;
}
/*=================================================================
				Start Main css
=================================================================*/
.main_section{
	max-width: 390px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 34px;
	box-sizing: border-box;
	overflow: hidden;
}

.page_header h1{
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	color: #000000;
	text-align: center;
	margin-bottom: 25px;
}
.page_header h1 a{
	color: #BBC1CC;
}
.w3-black a{
	font-family: 'Comfortaa';
	background: #B7EBA4;
	border: 2px solid #B7EBA4;
	border-radius: 6px;
	padding: 10px;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #000000;
	flex: 0 0 48%;
	max-width: 48%;
	box-sizing: border-box;
}
.w3-black{
	display: flex;
	justify-content: space-between;
}
.paste_model{
	background: #FFFFFF;
	border: 2px solid #000000;
	margin-top: 20px;
}
.paste_model textarea{
	width: 100%;
	height: 197px;
	padding: 16px;
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 14px;
	color: rgba(0, 0, 0, 0.5);
	border: none;
	box-sizing: border-box;
}
.paste_model textarea:focus{
	outline: none;
}
button.accordion {
    color: #444;
    cursor: pointer;
	background: transparent;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.upload_div input{
	display: none;
}
.upload_div label {
	background: #AAC4F6;
	border: 2px solid #000000;
	border-radius: 6px;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	/* letter-spacing: 0.04em; */
	text-transform: uppercase;
	color: #000000;
	width: 100%;
	display: inline-block;
	padding: 12px 4px;
	margin-bottom: 10px;
	cursor: pointer;
	box-sizing: border-box;
	width: 221px;
}
.upload_div {
	max-width: 221px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 28px;
}
.upload_div a{
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 14px;
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.5);
}

.upload_div a i {
	font-size: 16px;
	color: #000;
	margin-left: 8px;
}

.scrollbar-2 {
	scrollbar-width: thin;
	scrollbar-color: #C1C1C1 #FAFAFA;
	border-radius: 12px;
  }
  .scrollbar-2::-webkit-scrollbar {
	width: 8px;
	height: 10px;
  }
  .scrollbar-2::-webkit-scrollbar-track {
	background-color: #FAFAFA;
	box-shadow: inset 1px 0px 0px #E8E8E8, inset -1px 0px 0px #F0F0F0;
  }
  .scrollbar-2::-webkit-scrollbar-thumb {
	background-color: #C1C1C1;
	border-radius: 12px;
  }
  .scrollbar-2::-webkit-scrollbar-track, .scrollbar-2::-webkit-scrollbar-thumb {
	border-radius: 12px;
  }
  
  [class^=scrollbar] {
	height: 510px;
	overflow: hidden;
	overflow-y: scroll;
  }
  [class^=scrollbar] .scroll {
	width: 100%;
	padding: 15px;
	background-image: linear-gradient(130deg, #F1F2F6 0%, #F1F2F6 100%);
	box-sizing: border-box;
  }
  .scroll p{
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 14px;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;

  }
  .scroll p:last-child{
	margin-bottom: 0;
  }
button{
	cursor: pointer;
}
  .download{
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
  }
.download button{
	font-family: 'Comfortaa';
	background: #AAC4F6;
	border: 2px solid #000000;
	border-radius: 6px;
	padding: 8px;
	font-weight: 700;
	font-size: 10px;
	line-height: 11px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #000000;
}
.hagging_id{
	max-width: 221px;
	width: 100%;
	margin: 0 auto;
}
.hagging_id input{
	background: #FFFFFF;
	border: 2px solid #000000;
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 14px;
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.5);
	padding: 6px;
	width: 100%;
	box-sizing: border-box;
}
.panel_expend {
	margin-bottom: 40px;
	display: none;
}
.hagging_id input:focus{
	outline: none;
}
.active_icon i {
	transform: rotate(90deg);
}
.scrollbar-3 {
	height: 197px;
	margin-top: 19px;
	background: #FFFFFF;
	border: 2px solid #000000;
	border-radius: 0 !important;
}
.scrollbar-3 p{
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	transform: rotate(0.05deg);
}
.check_score{
	margin-top: 26px;
	display: flex;
	align-items: center;
}
.single_check span{
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 17px;
	color: #000000;
	margin: 0 10px;

}
.single_check p{
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	color: #000000;
	display: flex;
	align-items: center;
}
.single_check img{
	width: 10px;
}
.single_check{
	display: flex;
	align-items: center;
}
.single_check img {
	width: 23px;
	margin-top: -2px;
	margin-left: 5px;
}
.circle{
	width: 24px;
	height: 24px;
	border-radius: 50px;
	background: orange;
}
.accordion {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 700;
	font-size: 17px !important;
	line-height: 19px;
	color: #000000 !important;
	display: inline-flex;
	align-items: center;
	margin-left: 0;
	padding-left: 0;
	padding: 0;
	position: relative;
}
.accordion img {
	margin-right: 7px;
}

.panel li{
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

ac-label {
	font-weight: 700;
	position: relative;
	padding: .5em 1em;
	margin-bottom: .5em;
	display: block;
	cursor: pointer;
	background-color: whiteSmoke;
	transition: background-color .15s ease-in-out;
  }
  
  .ac-label::after, .ac-input:checked + .ac-label::after {
	content: "\f0da";
	font-family: fontawesome;
	position: absolute;
	display: block;
	right: -16px;
	top: 0;
}
  
  .ac-input:checked + .ac-label:after {
	content: "\f0d7";
  }
  
  .ac-input {
	display: none;
  }
  
  .ac-text, .ac-sub-text {
	opacity: 0;
	height: 0;
	margin-bottom: .5em;
	transition: opacity .5s ease-in-out;
	overflow: hidden;
  }
  
  .ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text {
	opacity: 1;
	height: auto;
  }
  
  .ac-sub .ac-label {
	background: none;
	font-weight: 600;
	margin-bottom: 0;
	position: relative;
}
  
  .ac-sub .ac-label:checked {
	background: none;
	border-bottom: 1px solid whitesmoke;
  }
  
  .ac-sub .ac-label::after, .ac-sub .ac-input:checked + .ac-label::after {
	right: -15px;
	background: none;
	top: 2px;
}
  
  .ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
	background: none;
  }
  
  .ac-sub-text {
	padding: 0 1em 0 2em;
  }
  
  .panel {
	margin-bottom: 0 !important;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.ac-sub-text {
	padding: 1px 1em 0 10px;

}
.ac-sub-text p{
	font-size: 12px;
}
.ac-sub {
	padding-left: 3px;
}
.ac label{
	cursor: pointer;
}
.accordion_area {
	margin: 25px 0;
}
.download_btn button{
	background: #AAC4F6;
	border: 2px solid #000000;
	border-radius: 6px;
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #000000;
	padding: 12px 30px;
	margin: 0 auto;

}
button{
	transition: 0.2s;
}
.download_btn {
	margin-top: -12px;
}
button:hover{
	opacity: 0.8;
}